<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

<h1 id = 'head'>makersbnb</h1>
<div id='border'>
<% if @user %>
<h3> Hello <%=@user.username%>! </h3>

<form action = '/listings' method = 'get'>
  <input type="submit" name="submit" id="submit" value = 'Listings'>
</form>

<form action = '/listings/new' method = 'get'>
  <input type="submit" name="submit" id="submit" value = 'Add Listing'>
</form>

<form action = '/sessions/destroy' method = 'post'>
<input type='submit' name="submit" id="submit" value = 'Sign Out'>
</form>
<% else %> 

<h1 style = 'color: black;'> Holiday spaces in the United Kingdom </h1>
<h3> Self-isolate in style with makersbnb quarantine rental </h3><br><br>

<form action='/sessions/new'>
  <input type="submit" name="submit" id="submit" value='Login'>
</form>

<form action='/user/new'>
  <input type="submit" name="submit" id="submit" value="Sign Up">
</form>
<%= flash[:notice] %>

</div>
<% end %>

<% if (@user && @list)%>
<div id='mylistings'>
<h2> Your Listings: </h2>
<ul>
<span> You have a booking request for the following listings </span>
    <%@list.each do |x|%>
      <li class="booking" id="booking-<%= x.id %>">
      <%= x.address + ", " + x.description + ", " + x.available_dates + ". " %>
      <form action='/bookings/approve/<%=x.id%>' method= 'post'>
      <input type='submit' name="submit" id="submit" value = 'Approve Booking'>
      </form>
      </li>
    <%end%>
</ul>
</div>
<% elsif @user %>
<span> You have no pending bookings to approve. </span>
<% end %>
</body>
</html>
